<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/paper-dashboard.css}" href="/static/css/paper-dashboard.css">
    <link rel="stylesheet" th:href="@{/demo/demo.css}" href="/static/demo/demo.css">
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <a href="#" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img th:src="@{/static/img/logo.png}" src="/static/img/logo.png">
                </div>
                <p>CT</p>
            </a>
            <a href="#" class="simple-text logo-normal">
                CineBooker
                <div class="logo-image-big">
                    <img src="/static/img/logo.png" th:src="@{/static/img/logo.png}">
                </div>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active ">
                    <a th:href="@{/movies}">
                        <i class="nc-icon nc-bank"></i>
                        <p>Quản lý phim</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/rooms}">
                        <i class="nc-icon nc-pin-3"></i>
                        <p>Quản lý phòng chiếu</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/trans}">
                        <i class="nc-icon nc-pin-3"></i>
                        <p>Quản lý vé</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/users}">
                        <i class="nc-icon nc-pin-3"></i>
                        <p>Quản lý tài khoản</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel" style="height: 100vh;">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="javascript:;">Title</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <form>
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="nc-icon nc-zoom-split"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <!--        Content begin-->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"> Danh sách Thể loại</h4>
                        </div>
                        <div th:if="${errors != null}">
                            <ul>
                                <li th:each="error : ${errors}" th:text="${error.getDefaultMessage()}"></li>
                            </ul>
                        </div>

                        <div>
                            <a th:href="@{/categories/add-category.html}" class="btn btn-primary">Thêm thể loại</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th>ID</th>
                                    <th>Tên</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="cat : ${categoryList}">
                                        <td th:text="${cat.id}"></td>
                                        <td th:text="${cat.name}"></td>
                                        <td>
                                            <form th:action="@{'/categories/delete-category/'+${cat.id}}" method="post" onsubmit="return confirm('Bạn muốn xoá thể loại này?')">
                                                <input type="submit" value="Delete">
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        Content end-->

    </div>
</div>

</body>
</html>