<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CineBooker - Admin</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/paper-dashboard.css}" href="/static/css/paper-dashboard.css">
    <link rel="stylesheet" th:href="@{/demo/demo.css}" href="/static/demo/demo.css">
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <a href="#" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img th:src="@{/static/img/logo.png}" src="/static/img/logo.png">
                </div>
                <p>CT</p>
            </a>
            <a href="#" class="simple-text logo-normal">
                CineBooker
                <div class="logo-image-big">
                    <img src="/static/img/logo.png" th:src="@{/static/img/logo.png}">
                </div>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active ">
                    <a th:href="@{/movies}">
                        <i class="nc-icon nc-bank"></i>
                        <p>Quản lý phim</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/movies}">
                        <i class="nc-icon nc-diamond"></i>
                        <p>Quản lý lịch chiếu</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/rooms}">
                        <i class="nc-icon nc-pin-3"></i>
                        <p>Quản lý phòng chiếu</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/trans}">
                        <i class="nc-icon nc-pin-3"></i>
                        <p>Quản lý vé</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/users}">
                        <i class="nc-icon nc-pin-3"></i>
                        <p>Quản lý tài khoản</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel" style="height: 100vh;">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="javascript:;">Admin Dashboard</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <form>
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="nc-icon nc-zoom-split"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item btn-rotate dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="nc-icon nc-bell-55"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Some Actions</span>
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <!--        Content begin-->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-user">
                        <div class="card-header">
                            <h5 class="card-title">Cập nhật lịch chiếu ${#strings.toUpperCase(movieDTO.name)} ></h5>
                        </div>
                        <div class="card-body mr-auto ml-auto">
                            <div th:if="${errors != null}">
                                <ul>
                                    <li th:each="error : ${errors}" th:text="${error.getDefaultMessage()}"></li>
                                </ul>
                            </div>
                            <form enctype="multipart/form-data" method="post" th:object="${movieDTO}" th:action="@{/movies/edit-movie/{id}(id=${movieDTO.id})}" >
                                <div class="row">
                                    <label>Tên phim</label>
                                    <input class="form-control" th:field="*{name}" type="text">
                                </div>
                                <div class="row">
                                    <label>Kiểm duyệt</label>
                                    <select class="form-control" name="old" th:field="*{censor}">
                                        <option value="0">0</option>
                                        <option value="13">13</option>
                                        <option value="16">16</option>
                                        <option value="18">18</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <label>Thể loại</label>
                                    <p th:each="category : ${categoryList}">
                                        <input type="checkbox" th:value="${category.id}" th:field="*{categories}" />
                                        <label th:text="${category.name}"></label>
                                    </p>
                                    <div>
                                        <span class="small-text">Không có danh mục cần sửa? <a th:href="@{/categories/add-category.html}" th:text="${'Thêm danh mục mới tại đây'}"></a> </span>
                                    </div>

                                </div>
                                <div class="row">
                                    <label>Diễn viên</label>
                                    <input class="form-control" th:field="*{actor}" type="text">

                                </div>
                                <div class="row">
                                    <label>Trailer</label>
                                    <input class="form-control" th:field="*{trailer}" type="text">

                                </div>


                                <div class="row">
                                    <label>Quốc gia</label>
                                    <input class="form-control" th:field="*{country}" type="text">
                                </div>
                                <div class="row">

                                    <label>Đạo diễn</label>
                                    <input class="form-control" th:field="*{director}" type="text">

                                </div>
                                <div class="row">
                                    <label>Lồng tiếng</label>
                                    <select class="form-control" name="cate" th:field="*{dubbing}">
                                        <option value="0">Có</option>
                                        <option value="1">Không</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <label>Tình trạng</label>
                                    <select class="form-control" name="cate" th:field="*{status}">
                                        <option value="0">Not actice</option>
                                        <option value="1">Active</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <label>Ngôn ngữ</label>
                                    <select class="form-control" name="cate" th:field="*{language}">
                                        <option value="Tiếng Viêt">Tiếng Việt</option>
                                        <option value="Tiếng Anh">Tiếng Anh</option>
                                        <option value="Tiếng Pháp">Tiếng Pháp</option>
                                        <option value="Tiếng Nga">Tiếng Nga</option>
                                        <option value="Tiếng Trung">Tiếng Trung</option>
                                        <option value="Tiếng Hàn">Tiếng Hàn</option>
                                        <option value="Tiếng Nhật">Tiếng Nhật</option>
                                        <option value="Tiếng Đức">Tiếng Đức</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <label>Phụ đề</label>
                                    <select class="form-control" th:field="*{subTitle}">
                                        <option value="">Không</option>
                                        <option value="Tiếng Việt">Tiếng Việt</option>
                                        <option value="Tiếng Anh">Tiếng Anh</option>
                                        <option value="Tiếng Pháp">Tiếng Pháp</option>
                                        <option value="Tiếng Hàn">Tiếng Hàn</option>
                                        <option value="Tiếng Nhật">Tiếng Nhật</option>
                                        <option value="Tiếng Trung">Tiếng Trung</option>
                                    </select>
                                </div>

                                <div class="row">
                                    <label>Nội dung </label>
                                    <textarea class="form-control textarea" th:field="*{storyLine}"></textarea>
                                </div>
                                <div class="row">
                                    <label>Diễn viên</label>
                                    <input class="form-control" th:field="*{actor}" type="text">
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label>Ngày khởi chiếu</label>
                                        <input class="form-control" th:field="*{releasedDate}" type="date">
                                    </div>
                                </div>
                                <div class="row">

                                    <label>Thời lượng <span class="text-info">(phút)</span> </label>
                                    <input class="form-control" th:field="*{duration}" type="number">
                                </div>


                                <div class="row">
                                    <div class="update ml-auto mr-auto">
                                        <button class="btn btn-primary btn-round" type="submit">Update</button>
                                        <a class="btn btn-danger" href="javascript:history.back()" style="margin-left: 10px">Hủy</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--        Content end-->

    </div>
</div>


</body>
</html>