<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>CineBooker - Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" th:href="@{/css/paper-dashboard.css}" href="/static/css/paper-dashboard.css">-->
<!--    <link rel="stylesheet" th:href="@{/demo/demo.css}" href="/static/demo/demo.css">-->
</head>
<body>
<!--<h1>Movies</h1>-->
<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <a href="#" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img th:src="@{/static/img/logo.png}" src="/static/img/logo.png">
                </div>
                <p>CT</p>
            </a>
            <a href="#" class="simple-text logo-normal">
                CineBooker
                <div class="logo-image-big">
                    <img src="/static/img/logo.png" th:src="@{/static/img/logo.png}">
                </div>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active ">
                    <a th:href="@{/movies}">
                        <i class="nc-icon nc-bank"></i>
                        <p>Quản lý phim</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/rooms}">
                        <i class="nc-icon nc-pin-3"></i>
                        <p>Quản lý phòng chiếu</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/trans}">
                        <i class="nc-icon nc-pin-3"></i>
                        <p>Quản lý vé</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/users}">
                        <i class="nc-icon nc-pin-3"></i>
                        <p>Quản lý tài khoản</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel" style="height: 100vh;">
        <!-- Navbar -->
        <!-- End Navbar -->

<!--        Content begin-->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card ml-auto mr-auto">
                        <div class="card-header text-center">
                            <h4 class="card-title text-uppercase title"> Danh sách phim</h4>
                        </div>
                        <div>
                            <a th:href="@{/movies/add-movie.html}" class="btn btn-primary">Thêm phim</a>
                        </div>
                        <div>
                            <a th:href="@{/categories/add-category.html}" class="btn btn-primary">Thêm the loai</a>
                        </div>

                        <div class="card-body mr-auto ml-auto ">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">

                                    <th>Image</th>
                                    <th>Tên phim</th>
                                    <th>Thể loại</th>
                                    <th>Trạng thái</th>
                                    <th>Kiểm duyệt</th>
                                    <th>Ngày khởi chiếu</th>
                                    <th>Thời lượng</th>
                                    <th>Đạo diễn</th>
                                    <th>Quốc gia</th>
                                    <th>Lượt xem</th>
                                    <th>Xem lich chieu</th>
                                    <th>Thao tác</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="movie : ${movieList}">
                                        <td><img th:src="${movie.imageUrl}" style="width: 50px; height: 50px;"></td>
                                        <td th:text="${#strings.toUpperCase(movie.name)}"></td>
                                        <td>
                                            <span th:each="cate, behind : ${movieCategories[__${movie.id}__]}">
                                                <span th:text="${cate.name}"></span>
                                                <span th:if="${!behind.last}">, </span>
                                            </span>
                                        </td>
                                        <td th:text="${T(com.binhlc.adminweb.utils.CommonUtils).convertMovieStatus(movie.status)}"></td>
                                        <td th:text="${T(com.binhlc.adminweb.utils.CommonUtils).convertCensor(movie.censor)}"></td>
                                        <td th:text="${T(com.binhlc.adminweb.utils.CommonUtils).convertToDDMMYYYY(movie.releasedDate)}"></td>
                                        <td th:if="${movie.duration} == 0">Đang cập nhật</td>
                                        <td th:unless="${movie.duration} == 0" th:text="${T(com.binhlc.adminweb.utils.CommonUtils).convertToHourMinute(movie.duration)}"></td>
                                        <td th:text="${movie.director}"></td>
                                        <td th:text="${movie.country}"></td>
                                        <td th:text="${movie.view}"></td>
                                        <td><a th:href="@{'/movies/'+${movie.id}+'/movie-times/'}">Xem lịch chiếu</a></td>
                                        <td><a th:href="@{'/movies/edit-movie/'+${movie.id}}">Sửa</a> |
                                            <form th:action="@{'/movies/delete-movie/'+${movie.id}}" method="post" onsubmit="return confirm('Bạn muốn xoá phim này?')">
                                                <input type="submit" value="Delete">
                                            </form>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
<!--        Content end-->

<!--        <footer class="footer" style="position: absolute; bottom: 0; width: -webkit-fill-available;">-->
<!--            <div class="container-fluid">-->
<!--                <div class="row">-->
<!--                                        <nav class="footer-nav">-->
<!--                                            <ul>-->
<!--                                                <li>Made by BinhLC</li>-->
<!--                                            </ul>-->
<!--                                        </nav>-->
<!--                    <div class="credits ml-auto">-->
<!--              <span class="copyright">-->
<!--                © 2024, made with <i class="fa fa-heart heart"></i> by Binh LC-->
<!--              </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </footer>-->
    </div>
</div>
</body>
</html>